body {
    font-family: Arial, "Microsoft JhengHei", sans-serif;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 40px;
    line-height: 1.8;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;

    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid #f4a261;
    border-radius: 16px;

    box-sizing: 16px;
}

section p,
section li{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

header {
    border-bottom: 2px solid #ddd;
    margin-bottom: 32px;
    padding-bottom: 16px;
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    margin: 8px 0 0;
    font-size: 24px;
    color: #666;
    font-weight: normal;
}

section {
    margin-bottom: 32px;
}

h3 {
    font-size: 20px;
    border-left: 4px solid #444;
    padding-left: 12px;
    margin-bottom: 12px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
}

#scrollTopBtn {
    position: fixed;
    bottom: 24px;
    right: 24px;

    width: 100px;
    height: 100px;

    cursor: pointer;
    z-index: 999;

    transition:
        transform 0.2s ease,
}

#scrollTopBtn:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 24px;
        border-width: 3px;
    }
}